{% extends 'base.html' %}
{% load static %}

{% block content %}

    <br>
    <div class="jumbotron" style="padding-top: 10px">
        <h2>What is SpamHam, what does it do?</h2>
        <div><p>Unsolicited messages which we did not ask for from a source is what we call <b><a
                href="https://blog.barracuda.com/2013/10/03/ham-v-spam-whats-the-difference/">SPAM</a></b>.<br> Messages
            which are the desired ones and are not spam are known as <b><a
                    href="https://blog.barracuda.com/2013/10/03/ham-v-spam-whats-the-difference/">HAM</a></b>.
            <br> Wait! Don't go away, I got an example of a spam. Yes the one below! <br> <em
                    style="color:rebeccapurple">A [redacted] loan for Rs 100K is approved for you if you receive this
                SMS. 1 min verification & cash in 1 hr at www.[redacted].co.in to opt out reply stop</em></p>
            <p>This web app is powered with ML, NLP which identifies whether the message is a spam or not.</p>
            <p><b>Write or paste a message/email in the text box below to find out is it a spam or not?</b></p></div>
        <form method="post">
            {#    	<input type="text" class="" name="message" placeholder="Write your message here..." required="required" />#}
            <textarea class="btn-block" name="message" rows="10" cols="8" placeholder="Write here... eg; Hello, how are you? "
                      required="required"></textarea>
            <br>
            <button type="submit" onclick="scrollDown()" name="htmlsubmitbutton1" class="btn btn-danger btn-block btn-large submit__btn"> is it a Spam? Check
                me out!
            </button>
            {% csrf_token %}
        </form>
    </div>

    <br><br>
    <div id="scroll">
        <p class="result__header"> Result - </p> 
        {% if result %}
            {#    <script> gotoBottom("result") </script>#}

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Feedback
            </button>
            <div class="jumbotron" style="padding-top: 10px" id="result">
                <script>scrollDown();</script>

                <div> You entered <br> "{{ message }}" <br></div>
                <p>which is <strong style="font-size: larger">{{ result }}</strong>!</p> <br>
                <p>Test accuracy: {{ accuracy }}%</p>
                <p> Under the hood: Naive Bayes, with NLP(BOW, TF-IDF)</p>
            </div>
            <script>scrollDown();</script>
            
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <form class="mx-5" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                          <label for="exampleFormControlInput1">Your message: </label>
                          <input type="text" name="message" class="form-control" id="exampleFormControlInput1" value="{{message}}" readonly="readonly">
                        </div>
                        <div class="form-group row">
                            <label for="exampleFormControlInput1">Our model Prediction: </label>
                            <input type="text" name="result" class="form-control" id="exampleFormControlInput1" value="{{result}}" readonly="readonly">
                          </div>
                        <div class="form-group row">
                          <label for="exampleFormControlSelect1">Result according to you :</label>
                          <select class="form-control" id="exampleFormControlSelect1" name="your_prediction">
                            <option value="SPAM">SPAM</option>
                            <option value="HAM">HAM</option>
                          </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" onclick="{window.location.reload()}" class="btn btn-primary" name="htmlsubmitbutton2">Submit Feedback</button>
                        </div>
                      </form>
                    </div>
                </div>
                </div>
            </div>
        {% else %}
            <p></p>
        {% endif %}
    </div>

    {#    <script>scrollDown();</script>#}


{% endblock %}
