{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="recent_messages__header">
    <h1>Recent Messages...</h1>
    <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Message</th>
            <th scope="col">Prediction</th>
            <th scope="col">Accuracy(%)</th>
          </tr>
        </thead>
        <tbody>
    {% for item in recent_list reversed %}
          <tr>
        <td><span  tabindex="0" data-toggle="tooltip" data-placement="top" class="red-tooltip" title="{{item.message}}">{{item.message|truncatechars:50}}</span></td>
           <td><p class="mr-5">{{item.result}}</p></td>
            <td><p class="mr-5">{{item.accuracy}}</p></td>
        
          </tr>
    {% endfor %}

</tbody>
</table>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
      
    </script>

{% endblock %}

</div>

